body{
    padding: 50px;
}
.submit-area{
    margin-top: 50px;
    padding: 100px;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
}
#transiction-area{
    display: none;
}
.status {
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.deposit{
    background-color: #5F4FC8;
}
.withdraw{
    background-color: #F19671;
}
.balance{
    background-color:#F09B02;
}
.balance-area{
    box-shadow: 5px 5px 15px gray;
    margin-top: 50px;
    border-radius: 10px;
    padding: 40px;
}